* {
  font-family: Helvetica;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select-wrapper {
  margin-top: 50px;
  width: 500px;
}

.code, 
.code span {
  background-color: #efefef;
  font-family: monospace;
}

.code {
  padding: 10px;
  line-height: 2;
  font-size: 1.4rem;
}
